# Node.js 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 构建产物
dist/
dist-ssr/
*.local

# VSCode 保留 extensions.json
.vscode/*
!.vscode/extensions.json

# Windows/Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
